@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here.
All colors MUST be HSL.
*/

@layer base {
    :root {
        --background: 0 0% 4%;
        --foreground: 0 0% 90%;

        --card: 0 0% 6%;
        --card-foreground: 0 0% 90%;

        --popover: 0 0% 6%;
        --popover-foreground: 0 0% 90%;

        --primary: 0 0% 90%;
        --primary-foreground: 0 0% 4%;

        --secondary: 0 0% 10%;
        --secondary-foreground: 0 0% 90%;

        --muted: 0 0% 12%;
        --muted-foreground: 0 0% 60%;

        --accent: 0 0% 15%;
        --accent-foreground: 0 0% 90%;

        --destructive: 0 62.8% 50%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 15%;
        --input: 0 0% 15%;
        --ring: 0 0% 30%;

        --radius: 0rem;
    }
}

@layer base {
    * {
        border-color: hsl(var(--border));
    }

    body {
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
    }
}
